<h2>登录账户</h2>
<%= simple_form_for :session, url: login_path do |f| %>
  <%= f.input :name, label: "请输入账号" %>
  <%= f.input :email, label: "请输入邮箱" %>
  <%= f.input :password, label: "请输入密码" %>
  <%= f.input :password_confirmation, label: "重复密码" %>
  <%= f.submit :点击登录 %>
<% end %>
