<div class="col-md-12">
  <%= search_form_for @q, :url => tbl_accounts_path do |f| %>
    <p><%= text_field_tag :userid, params[:userid], :placeholder => "用户ID", :class => "form-control" %></p>
    <p><%= f.search_field :account_cont, :placeholder => "用户昵称", :class => "form-control" %></p>
    <p><%= f.search_field :ip_cont, :placeholder => "最后登录地址", :class => "form-control" %></p>
    <p class="text-right">
      <%= submit_tag "送出筛选", :class => "btn btn-primary" %>
    </p>
  <% end %>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>用户ID</td>
        <td>用户账号</td>
        <td>用户昵称</td>
        <td>手机号</td>
        <td>钻石</td>
        <td>荣誉值</td>
        <td>用户状态</td>
        <td>注册时间</td>
        <td>上次登录IP</td>
        <td>上次登录时间</td>
      </tr>
    </thead>
    <tbody>
     <% @tbl_accounts.each do |tbl_account| %>
       <tr>
        <td><%= tbl_account.userid %></td>
        <td></td>
        <td><%= tbl_account.account %></td>
        <td><%= tbl_account.phone_num %></td>
        <td>
          <% if @tbl_playerinfo.find_by(:userid => "#{tbl_account.userid}").present? %>
            <%= @tbl_playerinfo.find_by(:userid => "#{tbl_account.userid}").diamond %>
          <% else %>
            该用户不是玩家
          <% end %>
        </td>
        <td></td>
        <td>
          <% if (tbl_account.lock - Time.now) > 0 %>
             锁定
          <% elsif (Time.now - tbl_account.logout_time)/60/60 < 24%>
             活跃
          <% else %>
             正常
          <% end %>
        </td>
        <td><%= tbl_account.create_time.strftime("%Y/%m/%d  %H:%M:%S") %></td>
        <td><%= tbl_account.ip %></td>
        <td><%= tbl_account.login_time.strftime("%Y/%m/%d  %H:%M:%S") %></td>
       </tr>
     <% end %>
    </tbody>
  </table>
  <%= paginate @tbl_accounts %>
</div>
