<div class="container-row">
  <table class="table" border:"1px solid white">
    <tr>
      <td  class="text-left" style="width: 50%">用户 : <%= current_user.name %></td>
      <td  class="text-left">账户余额 : </td>
    </tr>
    <tr>
      <td  class="text-left">推广ID :</td>
      <td  class="text-left">比率 :</td>
    </tr>
    <tr>
      <td  class="text-left">下线玩家 :  位</td>
    </tr>

  </table>
  <div class="container-row">
    <h5>菜单选项</h5>
  </div>
    <%= link_to "下线推广员", saler_info_path %><br>
    <%= link_to "下线玩家", player_info_path %><br>
    <%= link_to "提成明细", "#" %><br>
    <%= link_to "支付宝设置", "#" %><br>
    <%= link_to "提现操作", "#" %><br>
    <%= link_to "提现记录", "#" %><br>
    <%= link_to "修改密码", "#" %><br>
</div>
