<div class="col-md-12">
  <h5>所有推广员 <%= link_to "新增推广员", signup_path, class:"btn btn-default-1" %></h5>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th width="20%">代理名称</th>
        <th>代理ID</th>
        <th>钻石数量</th>
        <th>房卡操作</th>

      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
         <% unless user.permission == "manager" %>
           <td><%= link_to user.name, user_path(user) %></td>
           <td><%= user.id %></td>
           <td><%= user.diamond%></td>
           <td>
             <%= form_for user, url: add_diamond_user_path(user) do |f| %>
               <%= f.select :count, [10,50,100,200] %>
               <%= f.submit "点击充值", :class => "btn", data: { disable_with: "充值中..."} %>
             <% end %>

           </td>
         <% end %>
        </tr>
      <% end %>
   </tbpdy>
  </table>

  <div class="text-right">
    <%= paginate @users, window:2 %>
  </div>
</div>
