<%= render "form" %>
  <div class="col-xs-3">
   <%= link_to "下线推广员", saler_info_path %>
  </div>

  <div class="col-xs-3">
    <%= link_to "下线玩家", player_info_path %>
  </div>

  <div class="col-xs-3">
    <%= link_to "提成明细", "#"%>
  </div>

  <div class="col-xs-3">
    <%= link_to "支付宝设置", "#" %>
  </div>

  <div class="col-xs-3">
    <%= link_to "提现操作", "#" %>
  </div>

  <div class="col-xs-3">
    <%= link_to "提现记录", "#" %>
  </div>

  <div class="col-xs-3">
    <%= link_to "修改密码", "#" %>
  </div>
