<%= render "form" %>
<% if current_user.permission == "salerone" %>
<h5>二级下线推广员</h5>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>推广员ID</th>
      <th>推广员名称</th>
      <th>推广比例</th>
      <th>直属下线推广员</th>
      <th>推广玩家个数</th>
    </tr>
  </thead>
  <tbody>
    <% @usersone.each do |user| %>

      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td></td>
        <td><%= User.where(:salerid => user.id).count %></td>
        <td><%= TblAccount.where(:saler => user.id).count %></td>
      </tr>

    <% end %>
  </tbody>
</table>
<% end %>


<% if current_user.permission == "salerone" %>
  <h5>三级下线推广员</h5>
<% end %>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>推广员ID</th>
      <th>推广员名称</th>
      <th>上级推广员</th>
      <th>推广比例</th>
      <th>推广玩家个数</th>
    </tr>
  </thead>
  <tbody>
    <% @userstwo.each do |user| %>

      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= User.find_by(:id => user.salerid).name %></td>
        <td><%= User.where(:salerid => user.id).count %></td>
        <td><%= TblAccount.where(:saler => user.id).count %></td>
      </tr>

    <% end %>
  </tbody>
</table>
