<table class="table">
  <tr>
    <td>用户</td>
    <td><%= current_user.name %></td>
  </tr>
  <tr>
    <td>账户余额</td>
    <td></td>
  </tr>
  <tr>
    <td>推广ID</td>
    <td><%= current_user.id %></td>
  </tr>
  <tr>
    <td>比率</td>
    <td></td>
  </tr>
  <tr>
    <td>下线玩家</td>
    <td><%= TblAccount.where(:saler => current_user.id).count %></td>
  </tr>
</table>

<% if current_user.permission == "salerone" || current_user.permission == "salertwo" %>
  <%= link_to "下线代理商", saler_info_path %><br>
<% end %>
<%= link_to "下线玩家", player_info_path %><br>
<%= link_to "修改密码", "#" %>
