<%= debug @memberid %>
<p>
<b>memberid:</b>
  <%= @memberid %>
</p>

<%= debug @orderid %>
<p>
<b>orderid:</b>
  <%= @orderid %>
</p>

<%= debug @amount %>
<p>
<b>amount:</b>
  <%= @amount %>
</p>

<%= debug @datetime %>
<p>
<b>datetime:</b>
  <%= @datetime %>
</p>
