<nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <a class="navbar-brand" href="/">游戏后台</a>
              <% unless current_user && current_user.permission == "salerthree" %>
                <a class="navbar-brand" href="users">用户管理</a>
              <% end %>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <% if !current_user %>
                  <li><%= link_to "注册", signup_path %></li>
                  <li><%= link_to "登入", login_path %></li>
                <% else %>
                  <li class="dropdown">
                    <a href=" " class="dropdown-toggle" data-toggle="dropdown">
                        Hi!, <%= current_user.name %>
                        <b class="caret"></b>
                    </a >

                    <ul class="dropdown-menu">
                      <li><%= link_to "用户设置", "#" %></li>
                      <li><%= link_to "所有用户", "#" %></li>|
                      <li><%= link_to "退出", logout_path, method: :delete %></li>
                    </ul>
                  </li>
                <% end %>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
</nav>
