<div class="col-md-12">
  <table class="table table-hover">
    <thead>
      <tr>
        <td>玩家总人数</td>
        <td>冻结人数</td>
        <td>当前在线人数</td>
        <td>今日活跃人数</td>
        <td>今日注册人数</td>
        <td>今日最高在线</td>
        <td>平台财富总和</td>
        <td>冻结玩家财富</td>
        <td>总充值</td>
        <td>总税收</td>
      </tr>
    </thead>
    <tbody>
       <tr>
         <td><%= @tblplayers.count %></td>
         <td>0</td>
         <% @tblaccounts.each do |u| %>
           <% if u.login_time - Time.now > 0 && u.logout_time - Time.now > 0 %>
             <% @online_count = @online_count + 1 %>
           <% end %>
         <% end %>
        <td><%= @online_count %></td>
          <% @tblaccounts.each do |u| %>
            <% if (Time.now - u.logout_time)/60/60 < 24 %>
              <% @active_count += 1 %>
            <% end %>
          <% end %>
        <td><%= @active_count %></td>
        <% @tblaccounts.each do |u| %>
          <% if (Time.now - u.create_time)/60/60 < 24 %>
            <% @signin_count += 1 %>
          <% end %>
        <% end %>
        <td><%= @signin_count %></td>
        <td></td>
        <% @tblplayers.each do |u| %>
          <% @diamond_count += u.diamond %>
        <% end %>
      <td><%= @diamond_count %></td>
      <td></td>
      <% @tblorders.each do |u| %>
        <% @money_count += u.money %>
      <% end %>
    <td><%= @money_count %></td>
       </tr>
    </tbody>
  </table>
</div>
