<!DOCTYPE html>
<html>
  <head>
    <title>ChessGame</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <div class="container-fluid">
      <div class="row">
        <%= render "common/navbar" %>
        <%= render "common/flashes" %>
      </div>
        <div class="col-md-2">
           <ul class="nav nav-pills nav-stacked " style="max-width: 200px;">
             <li>
               <%= link_to("玩家用户列表", tbl_accounts_path) %>
             </li>
             <li>
               <%= link_to("游戏开房房间列表", tbl_rooms_path) %>
             </li>
             <li>
               <%= link_to("系统平台概况", tbl_systems_path) %>
             </li>
             <li>
               <%= link_to("玩家钻石记录日志", tbl_player_fees_path) %>
             </li>
           </ul>
         </div>

       <div class= "col-md-10">
         <%= yield %>
       </div>
       </div>
    <%= render "common/footer"%>
  </body>
</html>
