<!DOCTYPE html>
<html>
  <head>
    <title>ChessGame</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= stylesheet_link_tag    'sessions', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'sessions', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <div class="container-fluid">
      <div class="row">
        <%= render "common-1/navbar"%>
        <%= render "common/flashes" %>
      </div>
      <div class= "col-md-8 col-md-offset-2">
        <%= yield %>
      </div>
      </div>
  </body>
</html>
